@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-forest-50: #f2f7f4;
    --color-forest-100: #e0eee6;
    --color-forest-200: #c1ded1;
    --color-forest-300: #96c5b2;
    --color-forest-400: #65a58e;
    --color-forest-500: #428871;
    --color-forest-600: #306c59;
    --color-forest-700: #285648;
    --color-forest-800: #22463b;
    --color-forest-900: #1d3a32;
    --color-forest-950: #0f211c;
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
